@charset "utf-8";

html {
    color: #000;
    background: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}


h1 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "微软雅黑";
        font-weight:500
}

.remarktext {
    height: 20px;
    width: 50px;
}

.remarkbtn {
    height: 24px;
    width: 50px;
    margin-left: 5px;
}

#tabdiv {
    display: none;
}
.tab {
    padding: 0;
    margin: 0;
}
.tab li {
    float: left;
    height: 33px;
    width: 110px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #d5d5d5;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
    list-style: none;
    font-size: 12px;
    font-family: "Microsoft Yahei";
}
.tab:after {
    content: '';
    clear: both;
    display: block;
}
.selected {
    font-weight: bold;
    color: orange;
}
