.ul_table {
    height: auto;
    border: 1px solid #dddddd;
    border-bottom: none;
    border-left: none;
}

.ul_table_li {
    width: 100%;
}

.ul_table_table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

    .ul_table_table td {
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        max-height: 60px;
        padding: 10px;
        padding-top: 6px;
    }

    .ul_table_table .t_one {
        width: 10px;
    }

    .ul_table_table .tr_title {
        background-color: #efefef;
    }

    .ul_table_table tr:hover {
        background-color: rgb(245, 245, 245);
    }

.t_one {
    width: 10px;
}

.loading {
    width: 16px;
    height: 16px;
    position: relative;
    top: 8px;
    left: 8px;
    background-image: url("loading.gif");
}

.refresh {
    width: 20px;
    height: 20px;
    background: url('view_refresh.png') no-repeat center;
    float: right;
    margin-top: 8px;
    margin-left: 8px;
}

    .refresh:hover {
        margin-top: 7px;
        margin-left: 7px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #dddddd;
        background-color: white;
        cursor: pointer;
    }

.left {
    color: #949495;
    line-height: 36px;
}

.chk {
    width: 14px;
    height: 14px;
    background-color: white;
}

.selection {
    margin-left: 8px;
    -moz-min-width: 125px;
    -ms-min-width: 125px;
    -o-min-width: 125px;
    -webkit-min-width: 125px;
    min-width: 125px;
    *width: 130px;
}
.select-option {
    -moz-min-width: 90px;
    -ms-min-width: 90px;
    -o-min-width: 90px;
    -webkit-min-width: 90px;
    min-width: 90px;
    padding: 4px;
    height: 30px;
    font-size: 13px;
    display: inline-block;
    color: #808080;
    border: 1px solid #ccc;
}
.table {
    table-layout:fixed;
}
.table th, .table td {
    padding: 5px 10px;
    -moz-text-overflow:ellipsis;
    text-overflow:ellipsis; 
    overflow: hidden
}
.td_number {
    -moz-text-overflow: clip !important;
    text-overflow: clip !important;
}

.number {
     width: 10px;
}

.table-bordered {
    margin-top: 0;
}

.datagrid-th {
    padding-right: 3px !important;
}

.datagrid-cell {
    width: 100%;
}

.verticalLine {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 20px;
    z-index: 9999;
    border-left: 1px #006dcc dotted;
}

.lineContent {
    position: absolute;
    top: 60px;
    left: 2px;
    height: 20px;
    line-height: 20px;
    -moz-min-width: 20px;
    -ms-min-width: 20px;
    -o-min-width: 20px;
    -webkit-min-width: 20px;
    min-width: 20px;
    font-weight: normal;
    color: white;
    padding: 0 4px;
    background: #006dcc;
    border-radius: 4px;
    white-space: nowrap;
}

.layout {
    position: absolute;
    z-index: 9998;
    background-color: rgba(255, 255, 255, 0);
    cursor: e-resize;
}
.page-txt {
    float: left;
    font-size: 14px;
    color: gray;
}